<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>218263612003-gvn7biaio5ugctsjetcidtt06l2o022e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218263612003-gvn7biaio5ugctsjetcidtt06l2o022e</string>
	<key>API_KEY</key>
	<string>AIzaSyDOadO8EWx7KRwTQqG0ujtEBO2giMS-0x0</string>
	<key>GCM_SENDER_ID</key>
	<string>218263612003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackathonproj</string>
	<key>PROJECT_ID</key>
	<string>pinepinepine</string>
	<key>STORAGE_BUCKET</key>
	<string>pinepinepine.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218263612003:ios:890f27367ffa180d4b2656</string>
</dict>
</plist>